{% extends 'base.html' %}
{% load static %}
{% block topfiles %}
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock topfiles %}

{% block title %}天天生鲜-登录{% endblock title %}
{% block header_con %}

{% endblock %}
{% block search_bar %}

{% endblock %}
{% block body %}
  <div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
  </div>

  <div class="login_form_bg">
    <div class="login_form_wrap clearfix">
      <div class="login_banner fl"></div>
      <div class="slogan fl">日夜兼程 · 急速送达</div>
      <div class="login_form fr">
        <div class="login_title clearfix">
          <h1>用户登录</h1>
          <a href="#">立即注册</a>
        </div>
        <div class="form_input">
          <form method="post" id="my_form">
            {% csrf_token %}
            <input type="text" name="username" class="name_input" value="{{ username }}" placeholder="请输入用户名">
            <input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
            <div class="more_input clearfix">
              <input type="checkbox" name="remember">
              <label>记住用户名</label>
              <a href="#">忘记密码</a>
            </div>
            <input type="button" id="submit_data" value="登录" class="input_submit">
          </form>
        </div>
        <div>
          <span style="color: red" id="error_msg" class="pull-right"></span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bottom %}

  <script>
      $('#submit_data').click(function () {
          let formDataObj = new FormData();
          $.each($('#my_form').serializeArray(), function (index, obj) {
              console.log(obj.value);
              formDataObj.append(obj.name, obj.value);
          })
          // 发送ajax请求
          $.ajax({
              url: '',
              type: 'post',
              data: formDataObj,
              //  指定关键的参数
              contentType: false,
              processData: false,
              success: function (args) {
                  if (args.code == 1000) {
                      window.location.href = args.url
                  } else {
                      console.log(args.msg);
                      $('#error_msg').text(args.msg)
                  }
              }
          })
      })
  </script>
{% endblock %}

